@mixin reset {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin font {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 500;
}

@mixin font-mont {
  font-family: 'Montserrat', 'Arial', sans-serif;
}

@mixin font-dela {
  font-family: 'Dela Gothic One', 'Arial', sans-serif;
}

@mixin text {
  font-size: 2.9rem;
  line-height: 4.4rem;
}

@mixin title {
  font-family: 'Dela Gothic One', 'Arial', sans-serif;
  font-size: 7.6rem;
  line-height: 11rem;
}

@mixin name {
  @include font-mont;
  font-weight: 700;
  font-size: 4.7rem;
  line-height: 5.7rem;
  color: $white;
}

@mixin job {
  @include font-mont;
  font-weight: 500;
  font-size: 2.9rem;
  line-height: 150%;
  color: rgba($white, 0.5);
}

@mixin header {
  font-size: 3.6rem;
}

@mixin wrapper {
  width: 100%;
  max-width: $wrapper-desktop;
  margin: 0 auto;
}

@mixin viewport-desktop-large {
  @media (max-width: $viewport-desktop-large) {
      @content;
  }
}

@mixin viewport-desktop-small {
  @media (max-width: $viewport-desktop-small) {
      @content;
  }
}

@mixin viewport-desktop {
  @media (max-width: $viewport-desktop) {
      @content;
  }
}

@mixin viewport-tablet {
  @media (max-width: $viewport-tablet) {
      @content;
  }
}

@mixin viewport-mobile {
  @media (max-width: $viewport-mobile) {
      @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      @content;
  }
}
