$white: #ffffff;
$purple-100: #6C5DD3;
$purple-60: #5C50AF;
$pink-100: #FF98E5;
$black-800: #1F2128;
$black-700: #242731;

$wrapper-desktop: 166rem;
$wrapper-mobile: 24rem;

$viewport-desktop: 1440px;
$viewport-tablet: 768px;
$viewport-mobile: 375px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;