doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Folipro
    body.body 
        header.body__header.header
            .header__wrapper 
                nav.header__navigation.navigation
                    ul.navigation__list
                        li.navigation__item
                            a.navigation__link(href="") О проекте
                        li.navigation__item
                            a.navigation__link(href="") Преимущества
                        li.navigation__item
                            a.navigation__link(href="") Работы
                        li.navigation__item
                            a.navigation__link(href="") Команда
                        li.navigation__item
                            a.navigation__link(href="") Обратная связь
        main.body__main.main
            section.main__hero.hero
                .hero__wrapper
                    .hero__content
                        img.hero__logo(src="", alt="")
                        p.hero__text 
                    img.hero__img(src="", alt="")
            section.main__why.why
                .why__wrapper
                    h2.why__title 
                    ul.why__slider.slider
                        li.slider__slide.slide
                            img.slide__img(src="", alt="")
                            .slide__content
                                h3.slide__title 
                                p.slide__text 
                        li.slider__slide.slide
                            img.slide__img(src="", alt="")
                            .slide__content
                                h3.slide__title 
                                p.slide__text 
                        li.slider__slide.slide
                            img.slide__img(src="", alt="")
                            .slide__content
                                h3.slide__title 
                                p.slide__text 
                        li.slider__slide.slide
                            img.slide__img(src="", alt="")
                            .slide__content
                                h3.slide__title 
                                p.slide__text 
                        li.slider__slide.slide
                            img.slide__img(src="", alt="")
                            .slide__content
                                h3.slide__title 
                                p.slide__text 
            section.main__target.target
                .target__wrapper
                    h2.target__title 
                    ul.target__list
                        li.target__card.card
                            .card__intro
                                img.card__img(src="", alt="")
                                h3.card__title 
                            p.card__content 
                        li.target__card.card
                            .card__intro
                                img.card__img(src="", alt="")
                                h3.card__title 
                            p.card__content 
                        li.target__card.card
                            .card__intro
                                img.card__img(src="", alt="")
                                h3.card__title 
                            p.card__content 
            section.main__realization.realization
                .realization__wrapper
                    h2.realization__title 
                    .realization__content
                        img.realization__img(src="", alt="")
                        p.realization__text 
            section.main__team.team
                .team__wrapper
                    h2.team__title 
                    ul.team__list
                        li.team__item
                            img.team__img(src="", alt="")
                            .team__content
                                h3.team__name 
                                p.team__job.team__job--leader 
                                p.team__job 
                        li.team__item
                            img.team__img(src="", alt="")
                            .team__content
                                h3.team__name 
                                p.team__job 
                        li.team__item
                            img.team__img(src="", alt="")
                            .team__content
                                h3.team__name 
                                p.team__job 
                        li.team__item
                            img.team__img(src="", alt="")
                            .team__content
                                h3.team__name 
                                p.team__job 
                        li.team__item
                            img.team__img(src="", alt="")
                            .team__content
                                h3.team__name 
                                p.team__job 
        footer.body__footer.footer
            .footer__wrapper
                h2.footer__title 
                ul.footer__connections.connection
                    li.connections__item
                        a.connections__img-link(href="")
                            img.connections__img(src="", alt="")
                        a.connections__link(href="") 
                    li.connections__item
                        a.connections__img-link(href="")
                            img.connections__img(src="", alt="")
                        a.connections__link(href="") 
                a.connections__mail(href="mailto:ourmail@mail.ru")
                .footer__note.note
                    img.note__img(src="", alt="")
                    p.note__text
                        span.note__line 
                        span.note__line 
                        span.note__line 