.card__intro {
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(180deg, rgba(31, 33, 40, 0) 0%, rgba(31, 33, 40, 0.4) 100%);
  }
}

.card__title {
  @include text;
  font-weight: 700;
  line-height: 5.7rem;
  font-size: 4.7rem;
  position: absolute;
  width: 45rem;
  bottom: 8.1rem;
  left: 9.5rem;
  z-index: 100;
}

.card__content {
  @include text;
  display: block;
  margin: 0 auto;
  padding: 3rem;
  background-color: $black-800;
  width: 58rem;
  margin-top: 17.3rem;
  border-radius: 5rem;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 95px;
    background-color: $white;
    top: -134px;
    left: 50%;
    transform: translateX(50%);
  }
}
