.header {
  padding-top: 5.6rem;
  padding-bottom: 9.3rem;
  overflow: hidden;
  position: relative;

  svg {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%)
  }
}

.header__wrapper {
  @include wrapper;
  max-width: 150rem;
}
