.hero {
  padding-top: 28.3rem
}

.hero__wrapper {
  @include wrapper;
  padding-left: 4.8rem;
}

.hero__text {
  @include text;
  line-height: 3.8rem;
  width: 45rem;
  margin-top: 3.7rem;
  margin-left: 14.5rem;
}
