.main__hero {
  margin-top: 28.3rem
}

.main__more {
  margin-top: 41.5rem;
}

.main__why {
  margin-top: 24.9rem;
}

.main__target {
  margin-top: 28.2rem;
}

.main__realization {
  margin-top: 23rem;
}

.main__team {
  margin-top: 26.5rem;
}
