.more__wrapper {
  @include wrapper;
  position: relative;
}

.more__img {
  position: absolute;
  top: 0.7rem;
  left: -29.2rem;
}

.more__star {
  position: absolute;
  top: 14rem;
  left: 38rem;
  transform: rotate(-14deg)
}

.more__title {
  @include title;
  text-align: right;
  padding-right: 0.3rem
}

.more__text-wrapper {
  padding: 4rem;
  background-color: $black-800;
  width: 99.8rem;
  border-radius: 50px;
  margin-top: 6.3rem;
  margin-left: auto;
  margin-right: 9.4rem;
}

.more__text {
  @include text;
  margin-top: 4.3rem;

  .txt-pink {
    @include font-dela;
  }

  &:first-child {
    margin-top: 0;
  }
}
