.navigation {
  position: relative;
  z-index: 100;
}

.navigation__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navigation__item {
  margin-left: 3rem;
  margin-right: 3rem;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @include viewport-desktop-small {
    margin-left: 1rem;
    margin-right: 1rem;

    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 1rem;
    }
  }
}

.navigation__link {
  @include header;
  color: $white;
  opacity: 0.4;
  transition: opacity 0.3s;
  text-decoration: none;
  font-size: 3.6rem;
  @include font-dela;

  &--active {
    opacity: 1;
  }

  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
  }
}
