.realization__wrapper {
  @include wrapper;
}

.realization__title {
  @include title;
  display: block;
  padding-left: 1rem;
}

.realization__content {
  padding: 2.7rem 8rem;
  background-color: $black-800;
  display: flex;
  border-radius: 4rem;
  margin-top: 6rem;
  margin-left: 1rem;

  svg {
    padding: 4rem;
    background-color: $black-700;
    border-radius: 9rem;
    width: 44.5rem;
    height: 40.5rem;
    flex-shrink: 0;
  }
}

.realization__text {
  @include text;
  margin-top: 13.5rem;
  margin-left: 9rem;
}
