.target__wrapper {
  @include wrapper;
  max-width: 192rem;
}

.target__title {
  @include title;
  display: block;
  width: 108.8rem;
  margin-left: auto;
  margin-right: 11.1rem;
}

.target__list {
  list-style: none;
  display: flex;
  margin-top: 6.1rem;
}
