.target__wrapper {
  @include wrapper;
  max-width: 192rem;
  position: relative;
}

.target__star {
  position: absolute;
  top: -1.3rem;
  left: 26rem;
  transform: rotate(-30deg);

  @include viewport-desktop-large {
    display: none;
  }
}

.target__title {
  @include title;
  display: block;
  width: 108.8rem;
  margin-left: auto;
  margin-right: 11.1rem;
}

.target__list {
  list-style: none;
  display: flex;
  margin-top: 6.1rem;
  @include viewport-desktop-large {
    flex-direction: column;
    align-items: center;
  }
}
