mixin picture(path, format, image, tabletImage, mobileImage, width, height, altText)
  picture
    source(type='image/webp', media="(min-width: 1024px)", srcset= 'img/' + path + '/' + image + '@1x.webp' + ' 1x, ' + 'img/' + path + '/' + image + '@2x.webp' + ' 2x')
    source(type='image/jpeg', media="(min-width: 1024px)", srcset= 'img/' + path + '/' + image + '@1x.' + format + ' 1x, ' + 'img/' + path + '/' + image + '@2x.' + format + ' 2x')
    source(type='image/webp', media="(min-width: 768px)", srcset= 'img/' + path + '/' + tabletImage + '@1x.webp' + ' 1x, ' + 'img/' + path + '/' + tabletImage + '@2x.webp' + ' 2x')
    source(type='image/jpeg', media="(min-width: 768px)", srcset= 'img/' + path + '/' + tabletImage + '@1x.' + format + ' 1x, ' + 'img/' + path + '/' + tabletImage + '@2x.' + format + ' 2x')
    source(type='image/webp', srcset= 'img/' + path + '/' + mobileImage + '@1x.webp' + ' 1x, ' + 'img/' + path + '/' + mobileImage + '@2x.webp' + ' 2x')
    img(src= 'img/' + path + '/' + mobileImage + '@1x.' + format, srcset= 'img/' + path + '/' + mobileImage + '@2x.' + format , alt= altText, width= width, height = height)
